:root {
  --brand-color: #FF6600;
  --primary-color: #0062FF;
  --secondary-color: #6C757D;
  --success: #82C43C;
  --info: #50B5FF;
  --warning: #FFC542;
  --error: #FC5A5A;
  --default: #657786;
  --placeholder-bg: #F5F8FA;
  --placeholder-disable: #D5D5DC;
  --border: #E6ECF0;
  --dark-0: #FFF;
  --dark-20: #FAFAFB;
  --dark-30: #F1F1F5;
  --dark-40: #E2E2EA;
  --dark-50: #D5D5DC;
  --dark-60: #B5B5BE;
  --dark-70: #92929D;
  --dark-80: #696974;
  --dark-90: #44444F;
  --dark-100: #171725;
  --nav-font: #657786;
}