:root {
  --brand-color: #ff6600;
  --primary-color: #0062ff;
  --secondary-color: #6c757d;
  --success: #82c43c;
  --info: #50b5ff;
  --warning: #ffc542;
  --error: #fc5a5a;
  --default: #657786;
  --placeholder-bg: #f5f8fa;
  --placeholder-disable: #d5d5dc;
  --border: #e6ecf0;
  --dark-0: #fff;
  --dark-20: #fafafb;
  --dark-30: #f1f1f5;
  --dark-40: #e2e2ea;
  --dark-50: #d5d5dc;
  --dark-60: #b5b5be;
  --dark-70: #92929d;
  --dark-80: #696974;
  --dark-90: #44444f;
  --dark-100: #171725;
  --nav-font: #657786;
}
