.edit-modal__overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.edit-modal__container {
  width: 630px;
  height: 610px;
  margin-top: 60px;
  border-radius: 16px;
  background-color: var(--dark-0);

  &__top {
    position: relative;
    height: 55px;
    padding: 20px;

    &__close {
      width: 15px;
      height: 15px;
      margin-right: 36px;
      padding: 0;
      
      &__img {
        vertical-align: top;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
    }

    &__save {
      position: absolute;
      right: 0;
      margin: 0 16px;
      width: 64px;
      height: 40px;
      background-color: var(--brand-color);
      color: var(--dark-0);
      font-size: 16px;
      border-radius: 50px;
    }
  }

  &__cover {
    position: relative;
    width: 100%;
    height: 200px;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(80%) saturate(50%);
    }

    &__icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &__add {
        width: 22px;
        margin-right: 45px;
        padding: 0;
        filter: brightness(100);
      }

      &__add:hover {
        cursor: pointer;
      }

      &__close > img {
        width: 15px;
        filter: brightness(100);
      }
    }
  }

  &__avatar {
    position: absolute;
    left: 0;
    top: 200px;
    transform: translateY(-50%);
    width: 140px;
    height: 140px;
    margin-left: 16px;
    padding: 0;
    object-fit: cover;
    background-color: var(--dark-0);
    border: 4px solid var(--dark-0);
    border-radius: 50%;

    &__avatar:hover {
      cursor: pointer;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0 auto;
      border-radius: 50%;
      filter: brightness(70%) saturate(50%);
    }

    &__icon {
      width: 22px;
      padding: 0;
      filter: brightness(100);
    }

    &__img:hover {
      cursor: pointer;
    }

    &__icon:hover {
      cursor: pointer;
    }
  }

  &__edit {
    position: relative;

    &__error {
      height: 10px;
      margin: -30px auto 26px;
      margin-left: 0;
      color: var(--error);
      font-size: 12px;
    }

    &__letter-count {
      position: absolute;
      right: 16px;
      height: 10px;
      margin: -30px 0 26px;
      color: var(--dark-80);
      font-size: 12px;
    }
  }

  &__form {
    margin-top: 80px;
    padding: 0 16px;

    &__name {
      margin-bottom: 32px;
      background-color: var(--placeholder-bg);

      > label {
        padding: 4px 10px 0;
        width: 100%;
        background-color: var(--placeholder-bg);
        color: var(--dark-80);
      }

      > input {
        @extend %input-style;
        margin: 0 auto;
        padding: 0 10px;
        width: 100%;
        border-bottom: 2px solid var(--default);
        border-radius: 2px;
        background-color: var(--placeholder-bg);
        color: var(--dark-100);
        font-size: 16px;

        &:focus,
        &:hover {
          border-bottom: 2px solid var(--info);
        }
      }
    }

    &__textarea {
      height: 140px;
      margin-bottom: 35px;

      > label {
        padding: 4px 10px;
        width: 100%;
        background-color: var(--placeholder-bg);
      }

      > textarea {
        height: 140px;
        padding: 4px 10px;
        resize: none;
        border: none;
        border-bottom: 2px solid var(--default);
        background-color: var(--placeholder-bg);
        color: var(--dark-100);
        font-size: 16px;

        &:focus,
        &:hover {
          border-bottom: 2px solid var(--info);
        }
      }
    }
  }
}
