*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: var(--dark-100);
}

h1 {
  font-size: 68px;
  font-weight: 700;
}

h2 {
  font-size: 42px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 16px;
}

ul,
li {
  /* remove dots */
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--brand-color);
}

button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  button:disabled {
    pointer-events: none;
  }
}

select {
  border: none;
}

input:required,
input:invalid {
  box-shadow: none;
}

%input-style {
  height: 35px;
  border: none;
  font-size: 0.7rem;
  background-color: transparent;
  letter-spacing: 1px;
  -webkit-appearance: none;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  transition: background-color 5000s ease-in-out 0s;
}

label {
  color: var(--dark-80);
  font-size: 14px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dark-60);
  opacity: 1;
  background-color: transparent;
  /* Firefox adds a lower opacity to the placeholder,
    so use opacity: 1 to fix this. */
  font-size: 16px;
  letter-spacing: 0;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--dark-60);
  background-color: transparent;
  font-size: 16px;
  letter-spacing: 0;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--dark-60);
  background-color: transparent;
  font-size: 16px;
  letter-spacing: 0;
}
