.settings__container__form {
  margin: 0 auto;
  padding: 0;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);

  &__title {
    padding: 24px 20px;
    border-bottom: 1px solid var(--border);
  }

  form {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 25px auto;
  }

  &__form-row {
    margin: 0 auto 32px auto;
    padding: 4px 10px 0;
    width: 95%;
    border-bottom: 2px solid var(--default);
    border-radius: 2px;
    background-color: var(--placeholder-bg);
  }

  &__form-row > input {
    @extend %input-style;
  }

  &__btn {
    width: 25%;
    height: 46px;
    margin: 8px 2% 0 auto;
    background-color: var(--brand-color);
    border-radius: 50px;
    color: var(--dark-0);
    font-size: 20px;
  }
}
