.sidebar__container {
  max-width: 180px;
  height: 100vh;
  margin-right: 24px;
  padding: 13px;

  &__logo {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
  }

  &__buttons {
    height: 90vh;

    &__list {
      margin-bottom: 40px;
    }

    &__logout {
      margin-bottom: 8px;
    }

    &__list__name,
    &__logout__name {
      color: var(--dark-90);
      font-weight: 700;
      font-size: 18px;
    }

    &__list__img,
    &__logout__img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    &__list__tweet {
      width: 95%;
      height: 45px;
      border-radius: 50px;
      background: var(--brand-color);
      color: var(--dark-0);
      font-size: 20px;
    }
  }

  a {
    text-decoration: none;
  }

  .sidebar__container__buttons__list .active {
    & span {
      color: var(--brand-color);
    }
  }

  .sidebar__container__buttons__list:nth-child(1) .active {
    & img {
      content: url('../images/home-active.svg');
    }
  }

  .sidebar__container__buttons__list:nth-child(2) .active {
    & img {
      content: url('../images/profile-active.svg');
    }
  }
  .sidebar__container__buttons__list:nth-child(3) .active {
    & img {
      content: url('../images/setting-active.svg');
    }
  }
}
