.sign__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 auto;

  &__error {
    height: 10px;
    margin: 6px auto 20px;
    margin-left: calc((100% - 35%) / 2);
    color: var(--error);
    font-size: 12px;
  }

  &__letter-count {
    height: 10px;
    margin-right: calc((100% - 35%) / 2);
    margin-top: -36px;
    margin-bottom: 26px;
    color: var(--dark-80);
    font-size: 12px;
    text-align: right;
  }

  &__brand-logo {
    margin: 64px auto 24px;

    img {
      width: 50px;
    }
  }

  &__title {
    margin: 0 auto 40px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__form-row {
    margin: 0 auto;
    padding: 4px 10px 0;
    width: 35%;
    min-width: 250px;
    border-bottom: 2px solid var(--default);
    border-radius: 2px;
    background-color: var(--placeholder-bg);
  }

  &__form-row > input {
    @extend %input-style;
  }

  .form-row-margin {
    margin: 0 auto 32px;
  }

  &__btn {
    margin: 40px auto 0;
    width: 35%;
    height: 46px;
    border-radius: 50px;
    color: var(--dark-0);
    background-color: var(--brand-color);
    font-size: 20px;
  }

  &__link {
    width: 35%;
    margin: 22px auto 0 auto;

    &__wrapper {
      display: flex;
      justify-content: flex-end;
    }

    &__span {
      margin: 0 12px;
    }
  }
}
