.swal2-html-container,
.swal2-title {
  width: 300px;
  color: black !important;
  letter-spacing: px;
}

.swal2-popup {
  padding: 24px 5px 24px 10px !important;
  font-size: 16px !important;
  font-family: 'Noto Sans TC';
}

.icon-right {
  position: absolute !important;
  right: 5%;
  padding: 5px;
  border: 1px;
}
