.home-tweet__container {
  margin: 0;
  padding: 0;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);

  &__title {
    padding: 24px 20px;
    border-bottom: 1px solid var(--border);
    font-weight: 700;
  }

  &__tweet-box {
    position: relative;

    &__img {
      margin: 16px 10px auto 24px;
    }

    &__input {
      width: 100%;
      padding: 25px 25px 70px 0;
      border: none;
      font-size: 18px;
      resize: none;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        background-color: transparent;
        color: var(--secondary-color);
        /* Firefox adds a lower opacity to the placeholder,
        so use opacity: 1 to fix this. */
        opacity: 1;
        font-size: 18px;
        font-weight: 700;
      }
    
      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        background-color: transparent;
        color: var(--dark-60);
        font-size: 18px;
        font-weight: 700;
      }
    
      &::-ms-input-placeholder {
        /* Microsoft Edge */
        background-color: transparent;
        color: var(--dark-60);
        font-size: 18px;
        font-weight: 700;
      }
    }

    &__btn {
      position: absolute;
      right: 24px;
      bottom: 16px;
      width: 64px;
      height: 40px;
      border-radius: 50px;
      color: var(--dark-0);
      background-color: var(--brand-color);
      font-size: 16px;
    }
  }

  &__tweet-list {
    border-top: 10px solid var(--border);

    &__tweet {
      border-bottom: 1px solid var(--border);

      &__avatar {
        width: 50px;
        height: 50px;
        margin: 16px 8px 0 24px;
      }

      &__text {
        margin-top: 16px;

        .tweet-list__tweet__title {

          &__name {
            margin-right: 8px;
            color: var(--dark-100);
            font-size: 16px;
            font-weight: 700;
          }

          &__account,
          &__createdAt,
          &__seperator {
            padding-top: 1px;
            color: var(--secondary-color);
            font-size: 14px;
          }

          &__seperator {
            padding: 4px 0;
          }
        }

        &__description {
          margin: 8px 0;
        }

        .tweet-list__tweet__action {
          margin-bottom: 18px;

          &__reply,
          &__like {

            &__icon {
              width: 14px;
              margin-right: 8px;
            }

            &__count {
              margin-right: 64px;
              color: var(--secondary-color);
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
