.user-reply__container {
  height: 45vh;

  &__reply-list {
    &__tweet {
      padding-bottom: 18px;
      border-bottom: 1px solid var(--border);

      &__avatar {
        width: 50px;
        height: 50px;
        margin: 16px 8px 0 24px;
        border-radius: 50%;
        object-fit: cover;
      }

      &__text {
        margin-top: 16px;
        width: 84%;

        &__reply {
          margin-bottom: 3px;
        }

        &__description {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          max-height: 10vh;
          overflow: hidden;
          overflow-wrap: break-word;
          white-space: pre-line;
        }

        .reply-list__tweet {
          &__title {
            margin-bottom: 6px;

            &__account,
            &__createdAt,
            &__separator {
              padding-top: 1px;
              color: var(--secondary-color);
              font-size: 14px;
            }

            &__separator {
              padding: 3px;
            }

            &__name {
              margin-right: 12px;
              font-size: 16px;
              font-weight: 700;
            }
          }

          &__reply {
            margin: 0 5px 0 0;
            color: var(--secondary-color);
            font-size: 14px;
            line-height: 2;
          }

          &__reply-to {
            color: var(--brand-color);
            font-size: 14px;
          }
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}
.tweet-list__tweet {
  &__title {
    margin-bottom: 6px;

    &__name {
      margin-right: 8px;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__reply {
    margin: 2px 5px 8px 0;
    color: var(--secondary-color);
    font-size: 14px;
  }

  &__reply-to {
    color: var(--brand-color);
    font-size: 14px;
  }
}
