.user-reply__container {
  height: 100%;
  margin: 0 -1px;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);

  &__reply-list {
    height: 45vh;

    &__blank {
      margin: 24px auto;
      text-align: center;
    }

    &__tweet {
      padding-bottom: 18px;
      border-bottom: 1px solid var(--border);

      &__avatar {
        width: 50px;
        height: 50px;
        margin: 16px 8px 0 24px;
        border-radius: 50%;
      }

      &__text {
        margin-top: 16px;
        width: 84%;

        .tweet-list__tweet__title {
          &__name > a {
            margin-right: 8px;
            color: var(--dark-100);
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
          }

          &__account,
          &__createdAt,
          &__separator {
            padding-top: 1px;
            color: var(--secondary-color);
            font-size: 14px;
          }

          &__separator {
            padding: 4px 0;
          }
        }

        &__description {
          margin: 0 0 10px;
          color: var(dark-100);
          overflow-wrap: break-word;
        }
      }
    }
  }
}
