.user-reply__container {
  height: 100%;
  margin: 0 -1px;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);

  &__reply-list {
    height: 45vh;

    &__blank {
      margin: 24px auto;
      text-align: center;
    }

    &__tweet {
      padding-bottom: 18px;
      border-bottom: 1px solid var(--border);

      &__avatar {
        width: 50px;
        height: 50px;
        margin: 16px 8px 0 24px;
        border-radius: 50%;
      }

      &__text {
        margin-top: 16px;
        width: 84%;

        .reply-list__tweet {
          &__title {
            margin-bottom: 6px;


            &__account,
            &__createdAt,
            &__separator {
              padding-top: 1px;
              color: var(--secondary-color);
              font-size: 14px;
            }


            &__name {
              margin-right: 8px;
              font-size: 16px;
              font-weight: 700;
            }
          }

          &__reply {
            margin: 2px 5px 8px 0;
            color: var(--secondary-color);
            font-size: 14px;
          }

          &__reply-to {
            color: var(--brand-color);
            font-size: 14px;
          }
        }
      }
    }
  }
}
